odoo14-addon-master-data-mixin
odoo14-addon-transaction-confirm-mixin
odoo14-addon-transaction-done-mixin
odoo14-addon-transaction-open-mixin
odoo14-addon-transaction-cancel-mixin
odoo14-addon-transaction-date-duration-mixin
odoo14-addon-financial-accounting
odoo14-addon-account-account-m2o-configurator-mixin
odoo14-addon-account-journal-m2o-configurator-mixin
odoo14-addon-res-partner-m2o-configurator-mixin
odoo14-addon-res-currency-m2o-configurator-mixin
odoo14-addon-res-partner-bank-m2o-configurator-mixin
odoo14-addon-m2o-configurator-mixin
odoo14-addon-account-move-line-day-overdue
odoo14-addon-voucher-bank-cash
odoo14-addon-voucher-cheque
odoo14-addon-ssi-work-log-mixin
