odoo14-addon-ssi-master-data-mixin
odoo14-addon-ssi-transaction-confirm-mixin
odoo14-addon-ssi-transaction-done-mixin
odoo14-addon-ssi-transaction-open-mixin
odoo14-addon-ssi-transaction-cancel-mixin
odoo14-addon-ssi-transaction-date-duration-mixin
odoo14-addon-ssi-financial-accounting
odoo14-addon-ssi-account-account-m2o-configurator-mixin
odoo14-addon-ssi-account-journal-m2o-configurator-mixin
odoo14-addon-ssi-res-partner-m2o-configurator-mixin
odoo14-addon-ssi-res-currency-m2o-configurator-mixin
odoo14-addon-ssi-res-partner-bank-m2o-configurator-mixin
odoo14-addon-ssi-m2o-configurator-mixin
odoo14-addon-ssi-account-move-line-day-overdue
odoo14-addon-ssi-voucher-bank-cash
odoo14-addon-ssi-voucher-cheque
odoo14-addon-ssi-work-log-mixin
odoo-yaml-test
